.wallet-view {
  padding-top: 23px;
  margin-bottom: 44px;

  &-transaction {
    margin-bottom: 23px;

    .wallet-view__inner {
      padding-right: 25px;
      align-items: flex-start;
    }
  }

  &__inner {
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin-right: 90px;
  }

  &__img {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 15px;
  }

  &__text {
    p {
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      margin-bottom: 4px;
      font-weight: 700;
    }

    span {
      font-size: 13px;
      line-height: 15px;
      display: block;
      color: #fff;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1556ee;
    border-radius: 7px;
    text-decoration: none;
    height: 32px;
    width: 124px;

    img {
      margin-right: 12px;
    }

    span {
      font-size: 13px;
      line-height: 15px;
      color: #ffffff;
      display: block;
      font-weight: 700;
    }
  }

  &__transaction {
    display: flex;
    align-items: center;
    background: #1a3166;
    border: 0.5px solid #747c90;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 311px;
    justify-content: center;
    height: 51px;

    &--close {
      position: absolute;
      top: -12px;
      right: -12px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &--flag {
      display: flex;
      align-items: center;
      margin-right: 13px;
    }

    &--name {
      font-size: 14px;
      line-height: 16px;
      color: #50fafa;
      display: block;
    }
  }
}
